p{
  margin-bottom: 0;
}

.btn-orange{
  background-color: rgba(255, 136, 0, 0.852);
  border: 0.75px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 0px 3px 3px 0px;
  color: #FFFFFF;
  width:155px;
  height: 50px;
}

.btn-orange:hover{
  background-color: rgba(255, 136, 0, 0.852);
  border: 0.75px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 0px 3px 3px 0px;
  color: #FFFFFF;
  width:155px;
  box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.5);
  height: 50px;
}
.btn-green{
  background-color: #00C259;
  border: 0.75px solid #00C259;
  box-sizing: border-box;
  border-radius: 3px;
  color: #FFFFFF;
}
.btn-green:hover{
  background-color: #00C259;
  border: 0.75px solid #00C259;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
}
.btn-whites{
  background-color: #FFFFFF!important;
  border: 0.75px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 3px;
  /* color: #FFFFFF; */
}
.btn-whites:hover{
  background-color: #FFFFFF;
  border: 0.75px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.5);
  /* color: #FFFFFF; */
}

.w-90{
  width: 90%;
}

.border-right-green {
  border-right: 5px solid #00C259;
}

.border-right-red {
  border-right: 5px solid #c23331;
}

.fa-spin-fast {
  animation: fa-spin 2s infinite linear !important;
}

.customer-select2 .select2-container--default .select2-selection--single,
.customer-select2 .select2-container--default .select2-selection__arrow {
  height: 45px!important;
  display: flex!important;
  align-items: center;
}
.customer-select2 .select2-container--default .select2-selection--single{
  height: 45px!important;
  display: flex!important;
  align-items: center;
  border-top-left-radius: 0px!important;
  border-bottom-left-radius: 0px!important;
  border: 1px solid #ced4da;
  width:250px;
}
.customer-select2 .select2-container{
  width: 250px;
}
.customer-invoice .input-group {
  height: 45px;
}

.itemReversed {
  background: #FBE5E5;
}

.choose-image-label {
    width: 42px;
    height: 42px;
    background-color: #f2f2f2;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 100px !important;
    margin-top: -50px !important;
    z-index: 1;
    cursor: pointer;
}
